{% extends "padre.html" %}

{% block titulo1 %}Casino 
{% endblock %}

{% block titulo2 %}Zeus/Ventas{% endblock %}
{% block titulo3 %}    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
</head>
<body>
    <h1>acá vemos las ventas</h1>
    <form action="" method="POST"> {% csrf_token %}

    {{formu.as_p}}

        <input type="submit">
    </form>
</body>
</html>
{% endblock %} 