{% extends "padre.html" %}

{% block titulo1 %} Aca vamos a ver y registrar 
{% endblock %}

{% block titulo2 %}Cajeros


{% endblock %}

{% block titulo3 %}    

<style>
    .btn.btn-primary.btn-elevate.kt-login__btn-primary {font-size: 16px;}
</style>
<a class="btn btn-primary btn-elevate kt-login__btn-primary" href="{% url 'ncajero' %}"> "registrar cajero"</a>

{% endblock %}
{% block titulo4 %}

<style>
    .btn.btn-primary.btn-elevate.kt-login__btn-primary {font-size: 16px;}
</style>
<a class="btn btn-primary btn-elevate kt-login__btn-primary" href="{% url 'mcajero' %}"> "ver cajeros"</a>


<style>
    .btn.btn-primary.btn-elevate.kt-login__btn-primary {font-size: 16px;}
</style>
<a class="btn btn-primary btn-elevate kt-login__btn-primary" href="{% url 'actualizarcajero' %}"> "actualiza/ eliminar cajeros"</a>

{% endblock %} 

{% block texto %} 
<form action="/resultadonombre/" method="GET">
    Buscar Cajero Registrados: <input type="text" name="nombres">
    <input type="submit" value="Buscar"> 
</form>

{% for nombre in nombre %}
<p>Nombre: {{nombre.nombre}} </p>
<p>Apellido: {{nombre.apellido}} </p>
<p>DNI: {{nombre.dni}} </p>
<p>Localidad: {{nombre.localidad}} </p>
<br>
{% endfor %}
{% endblock %}